<!-- app.component.html -->  
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>  
<nav class="navbar navbar-expand-sm bg-light">   
  <div *ngIf="currentUser" class="container-fluid">  
    <ul class="navbar-nav">  
      
      <li class="nav-item">  
        <a routerLink="users" class="nav-link" routerLinkActive="active">  
          Users  
        </a>  
      </li>
      <li class="nav-item">  
        <a routerLink="add-user" class="nav-link" routerLinkActive="active">  
          Add User  
        </a>  
      </li>
      <li class="nav-item">  
          <a class="nav-link" (click)="logout()">Logout</a>    
       </li>
    </ul>  
  </div>  
</nav>  
<div class="container">
  <notifier-container></notifier-container>
  <router-outlet></router-outlet>  
</div>